body {
        overflow-x: hidden;
    }

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(110%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
    }
    .nav-list li a:hover {
        border-bottom: 3px solid #fff;
        border-top: 3px solid #fff;
        border-radius: 10px;
        background-color: #777777;
        opacity: 0.7;
    }
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /*home*/

    .home{
        flex-direction: column;
        padding: 230px 20px 160px 20px;
        align-items: center;
        justify-content: center;
    }

    .conteudo{
        width: 50vw;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .imagem2{
        margin-left: -140px;
    }

    .imagem2 img{
        height: 380px;
    }
    
    /*servicos*/

    .servicos .container {
        grid-template-columns: 1fr;
        width: 400px;
    }
}

@media (max-width: 768px){

    .logo{
        font-size: 28px;
    }

    .home{
        padding-bottom: 350px;
    }

    .conteudo{
        width: 60vw;
        align-items: center;
    }

    .conteudo .informacoes h1{
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        font-size: 68px;
        text-align: center;
    }
    
    .conteudo .informacoes p{
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
    }

    .butoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 100px;
    }

    .butoes a{
        width: 100%;
        text-align: center;
    }

    .imagem1{
        margin: 450px 0 50px 0;
        display: flex;
        zoom: 0.7;
    }
    .imagem1 img{
        border-radius: 20px;
    }

    .imagem2{
        display: none;
    }
}

@media (max-width: 700px){
    .servicos h1{
        font-size: 35px;
        padding: 30px 0 30px 0;
    }

    .servicos-informacoes h3{
        font-size: 28px;
        font-weight: 700;
    }

    .servicos-informacoes p{
        font-size: 25px;
    }
}

@media (max-width: 530px) {
    .conteudo{
        width: 60vw;
        align-items: center;
    }
    .butoes a{
        width: 80vw;
        text-align: center;
    }

    /*servicos*/

    .servicos h1{
        font-size: 30px;
    }

    .servicos-informacoes h3{
        font-size: 25px;
        font-weight: 800;
    }

    .servicos-informacoes p{
        font-size: 24px;
    }
}
