body{
    background-color: #0b0b31;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    background-color: #171748;
    box-shadow: 10px 5px 20px black;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
}

.logo:hover{
    opacity: 0.7;
}

.nav-list{
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.nav-list li a{
    padding: 10px;
}

.nav-list li a:hover{
    border-bottom: 3px solid rgb(128, 97, 255);
    border-top: 3px solid rgb(128, 97, 255);
    border-radius: 10px;
    background-color: #28289875;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-7px, -5px);
}

/* iniciando home */

.home{
    padding: 55px 20px 20px 20px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo{
    width: 40vw;
    margin-right: -20%;
}

.conteudo .informacoes h1{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.conteudo .informacoes p{
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2.2px;
}

.butoes{
    display: flex;
    gap: 15px;
    align-items: center;
}

.conteudo .butoes a{
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Syne', sans-serif;
    transition: 0.2s ease;
}

.butoes a:nth-child(1){
    padding: 17px 25px;
    background-color: rgb(128, 97, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.137);
}

.butoes a:nth-child(1):hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.321);
}

.butoes a:nth-child(2){
    padding: 17px 25px;
    color: rgb(128, 97, 255);
    border: 3px solid rgb(128, 97, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.137);
}

.butoes a:nth-child(2):hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.321);
}

.imagem1{
    display: none;
}

.imagem2{
    width: 20vw;
    padding: 20px 10% 0px 0;
}

.imagem2 img{
    height: 440px;
    border-radius: 10px;
}

